@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  
  --color-secondary-800: #1e293b;
  --color-secondary-900: #0f172a;
}

html {
  scroll-behavior: smooth;
}
body {
  @apply font-sans antialiased text-secondary-900 bg-white;
}

@layer utilities {
  .glass {
    @apply bg-white border border-white/20 backdrop-blur-md shadow-lg;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  }
  .glass-dark {
    @apply bg-secondary-900/80 border border-white/10 backdrop-blur-md shadow-xl text-white;
  }
}
